<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/dist/css/adminlte.min.css" rel="stylesheet" />
    <link rel="icon" href="https://andy.codegym.vn/codegym-icon.png">
    <title>PN BookStore | @ViewBag.Title</title>

</head>
<body>
    <div class="wrapper" >
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper ml-0 mt-0">
            @RenderBody()
        </div>
    </div>
</body>
</html>
